.income-list-container {
  height: 100%;
  width: 100%;
}

h2 {
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
}

th, td {
  text-align: center;
  padding: 5px;
}

table, th, td {
  border: solid black 1px
}

td:hover {
  background-color: lightcoral;
}
