<div class="income-container">
  <h2>Add Income</h2>
  <form class="income-form"
        [formGroup]="incomeForm" (ngSubmit)="handleSubmit()">
    <label> Date
      <input type="date"
             formControlName="date" />
    </label>

    <label> Item
      <input type="text"
             formControlName="item"/>
    </label>

    <label> Amount
      <input type="number"
             formControlName="amount"
             (blur)="formatCurrency()"/>
    </label>

    <label> Note
      <input type="text"
             formControlName="note"/>
    </label>

    <button type="submit" [disabled]="!incomeForm.valid">Submit</button>
  </form>
</div>
