<div class="create-new-budget-container">
  <h3>Create a New Budget</h3>
  <div class="create-new-budget-header-view" *ngIf="selectedBudget$ | async as b">
    <h1>New Budget: {{b.name}}</h1>
  </div>

  <div class="create-new-budget-content-view" *ngIf="currentPage$ | async as count">
    <div class="create-new-budget-content-view-name" *ngIf="count === 1">
      <app-budget></app-budget>
    </div>
    <hr>

    <div class="create-new-budget-content-view-expense" *ngIf="count === 2">
      <app-expense></app-expense>
      <app-expense-list></app-expense-list>
    </div>
    <hr>

    <app-income *ngIf="count === 3"></app-income>
    <hr>

    <button *ngIf="count < 3 && (selectedBudget$ | async)" (click)="clickNext(count)">Next</button>
  </div>
</div>






